@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0px;
}
.container {
  display: grid;
  margin: auto auto;
  padding: auto;
  grid-template-columns: 360px;
  grid-template-rows: 38.125em 1fr 1fr 1fr 1fr;
}

.header {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  position: fixed;
  top: 0;
  opacity: 92%;
  filter: blur(0.3px);
  width: 360px;
  height: 55px;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
}

#headerPic {
  position: absolute;
  left: 24px;
  bottom: 11px;
  padding: 0px 0px 2px 0px;
  width: 30px;
  height: 30px;
}

.headerText {
  position: absolute;
  left: 50px;
  bottom: -2px;
  width: 163px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Playfair Display Bold Roman", "Playfair Display Regular Roman",
    "Playfair Display", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  /* line-height: normal; */
  opacity: 100%;
}

.bookBtn {
  border: 3px solid #c69c6d;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: #c69c6d;
  text-align: center;
  line-height: normal;
}

.book1 {
  position: absolute;
  right: 27px;
  top: -0.3em;
  width: 73px;
  height: 36px;
  padding-top: 0.3em;
}

.topPic {
  background-image: url(./pics/topPic.png),
    linear-gradient(
      -150.57837368514885deg,
      rgba(0, 0, 0, 0.74) 7.678104774544462%,
      rgba(0, 0, 0, 0.51) 41.23289996427217%,
      rgba(0, 0, 0, 0.78) 95.98019737909107%
    );
  background-blend-mode: multiply;
  grid-row-start: 1;
  width: 360px;
  border: 1px solid #797979;
  box-sizing: border-box;
  z-index: 5;
}

.mainPic {
  width: 103px;
  height: 103px;
  position: relative;
  left: 35%;
  top: 195px;
}

.nameLine {
  position: relative;
  top: 165px;
  width: 359px;
  height: 58px;
  font-size: 30px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: white;
  text-align: center;
}

.profTag {
  position: relative;
  top: 110px;
  width: 359px;
  height: 58px;
  font-size: 17px;
  font-family: "Arial Regular", "Arial", sans-serif;
  text-align: center;
  color: #c69c6d;
}

.book2 {
  position: relative;
  top: 80px;
  left: 35%;
  width: 103px;
  height: 42px;
  border: 4px solid #c69c6d;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 0px 0px 1px;
}

.infoContainer {
  display: flex;
  position: relative;
  top: 110px;
  font-family: "Assistant", sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

.info1 {
  text-align: right;
  position: inherit;
  bottom: 19px;
  left: 57%;
}

.info2 {
  text-align: right;
  position: inherit;
  bottom: 19px;
  right: 20%;
}

.leaf {
  grid-row-start: 3;
  height: auto;
  position: absolute;
  bottom: 13px;
  right: 45%;
}

.newOnShelf {
  width: 359px;

  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
}

.rotatingPics {
  width: 360px;
  height: 242px;
  border: 1px solid #797979;
  background-color: #ffffff;
  box-sizing: border-box;
}
