@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

body {
  margin: 0px;
  text-align: right;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 34px;
  color: #c69c6d;
}

h2 {
  font-family: "Assistant - Regular";
  font-size: 21px;
  color: #c69c6d;
}

h3 {
  font-family: "Assistant";
  font-weight: 600;
  font-size: 1.3125em;
  color: black;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 38.125em auto auto;
}

.header {
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  opacity: 92%;
  filter: blur(0.3px);
  width: 100%;
  height: 3.4375em;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
}

#headerPic {
  position: absolute;
  left: 1.5em;
  bottom: 0.6875em;
  padding: 0px 0px 2px 0px;
  width: 1.875em;
  height: 1.875em;
}

.headerText {
  position: absolute;
  left: 2.5em;
  bottom: 0.2em;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  opacity: 100%;
}

.bookBtn {
  border: 4px solid #c69c6d;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: #c69c6d;
  text-align: center;
  line-height: normal;
}

.book1 {
  position: absolute;
  top: -0.3em;
  left: 260px;
  width: 73px;
  height: 36px;
  padding-top: 0.3em;
  border-width: thin;
}

.topPic {
  background-image: url(./pics/topPic.png),
    linear-gradient(
      -150.57837368514885deg,
      rgba(0, 0, 0, 0.74) 7.678104774544462%,
      rgba(0, 0, 0, 0.51) 41.23289996427217%,
      rgba(0, 0, 0, 0.78) 95.98019737909107%
    );
  background-repeat: no-repeat;
  background-size: auto;
  background-blend-mode: multiply;
  grid-row-start: 1;
  width: 100%;
  height: auto;
  border: 1px solid #797979;
  box-sizing: border-box;
  z-index: 5;
}

.mainPic {
  width: 103px;
  height: auto;
  position: relative;
  right: 37%;
  top: 11.5em;
}

.nameLine {
  position: relative;
  top: 165px;
  width: 359px;
  height: 58px;
  font-size: 30px;
  font-family: "Varela round";
  font-size: 2.125em;
  color: white;
  text-align: center;
}

.profTag {
  position: relative;
  top: 110px;
  width: 359px;
  height: 58px;
  font-size: 1.3125em;
  font-family: "Assistant";
  font-weight: 200;
  text-align: center;
  color: #c69c6d;
}

.book2 {
  position: relative;
  top: 80px;
  left: 35%;
  width: 103px;
  height: 42px;
  border: 4px solid #c69c6d;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 0px 0px 1px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 6.875em;
  font-family: "Assistant", sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

.info1 {
  text-align: right;
  position: inherit;
  bottom: 19px;
  left: 57%;
}

.info2 {
  text-align: right;
  position: inherit;
  bottom: 19px;
  right: 20%;
}

.newOnShelf {
  width: 359px;

  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
}

.rotatingPics {
  width: 360px;
  height: 242px;
  border: 1px solid #797979;
  background-color: #ffffff;
  box-sizing: border-box;
}

.aboutUs {
  text-align: right;
  /* grid-row: 1/ 3; */
}

.aboutUsTitle {
  color: #c69c6d;
  font-size: 50px;
  margin-top: 5px;
  padding-right: 10%;
  margin-bottom: 10px;
}

.aboutUsText {
  font-family: "Assistant";
  font-size: 1em;
  padding-right: 20px;
}

.teamPics {
  width: 30%;
  height: auto;
  padding: 20px;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 50%, 1fr 1fr 1fr;
}

.leaf {
  height: auto;
  position: relative;
  left: 10em;
  bottom: 1.2em;
  z-index: 10;
}

.artists {
  margin: px;
}
.teamPics {
  width: 8.125em;
  height: auto;
  padding: 3px;
}

.artistDescription {
  font-family: "Assistant";
  font-size: 1em;
}
.aboutVladi {
  display: flex;
}

.vladi {
  top: 0.5em;
  font-size: 1.3em;
}
.vladiFrame {
  width: 8.125em;
  border: solid;
  border-width: 1px;
  border-color: #c69c6d;
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 10;
}

.aboutIvan {
  display: flex;
}
.ivanDescription,
.ivan {
  padding-right: 0.5em;
}

.aboutTanya {
  display: flex;
}

.footerContainer {
  background-color: white;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9.5625em 7.0625em 5.125em 3.5625em;
  grid-template-areas:
    "social social"
    "info info"
    "navigate call"
    "footer footer";
}
.social {
  position: relative;
  grid-area: social;
}
.socialpic {
  width: 12.1875em;
  height: auto;
}

.infoContainer1 {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-family: "Assistant", sans-serif;
  font-size: 13px;
}
.address {
  padding-left: 5em;
  font-size: 1.2em;
}

.operationHours {
  font-size: 1.2em;
  padding-right: 1.5em;
}

.callUs {
  grid-area: call;
  display: flex;
  justify-content: right;
}

.callSymbol {
  width: 1.6875em;
  height: 1.6875em;
}
.navigate {
  display: flex;
  justify-content: right;
}
.nagivateSymbol {
  width: 1.2em;
  height: 1.6875em;
}
.callAndNavText {
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: #c69c6d;
  position: relative;
  right: 0.5em;
  bottom: 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  grid-area: footer;
}

.weReadEmail {
  color: white;
  position: relative;
  padding-left: 3em;
  bottom: 0.5em;
}

.email {
  position: relative;
  left: 10%;
}

a:link {
  font-family: "ariel";
  text-decoration: underline;
  text-decoration-skip: none;
  text-decoration-color: #c69c6d;
  text-decoration-thickness: 0.1em;
  color: white;
}
A:visited {
  text-decoration: none;
  color: white;
}
A:active {
  text-decoration: none;
  color: white;
}
A:hover {
  text-decoration: underline;
  color: white;
}
