.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

button {
  background-color: #2969d9;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  font-family: Arial;
  padding: 20px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

button:active {
  position: relative;
  top: 1px;
}

#equals {
  grid-column: 1 / 4;
  grid-row: 8;
}

#resultBox {
  display: flex;
  border: 1px solid;
  font-size: 4em;
  grid-column: 1 / 4;
}

#reset {
  grid-column: 1/4;
}

.historyBox {
  font-size: 1.5em;
  grid-column: 4/5;
  grid-row: 2/-1;
  font-size: 3em;
  border: solid;
  border-top: none;
}

.resetHistory {
  font-size: 1.3em;
}

.historyTitle {
  font-size: 2.5em;
  text-decoration: underline;
  border: solid;
  border-bottom: none;
}

@media (max-width: 1450px) {
  .container {
    width: 80%;
    height: auto;
    align-content: center;
  }

  .historyBox {
    font-size: 3em;
  }
}

@media (max-width: 2500px) {
  .container {
    width: 80%;
    align-content: center;
  }
}
