@import url(//db.onlinewebfonts.com/c/3bae817a3ffed7db86b763dd7d8004b2?family=League+Gothic);
body {
  background-color: black;
}
.container {
  margin: 5% 0% 0% 0%;
  width: 20%;
  height: 35em;
  position: relative;
  left: 37%;
  background-color: black;
  display: grid;
  border-radius: 5%;
  grid-template-rows: 0.5fr 4fr 1fr;
  grid-template-areas:
    'result'
    'buttons'
    'history';
}
.buttonContainer {
  grid-area: buttons;
  display: grid;
  margin: 5px;
  border-radius: 5%;
  height: auto;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'seven eight nine divide reset'
    'four five six multiply equals'
    'one two three minus equals'
    'btnZero plusMinus dot plus equals'
    'info info info info info';

  /* padding-bottom: 0px; */
}

.button {
  box-shadow: 1px 1px 0 rgb(0 0 0 / 5%);
  background: #0ba5ad;
  border-color: #2ad4ad;
  border-radius: 5px;
  border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #f68804;
  font-family: Arial;
  font-size: 1.9em;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
  padding: 3px;
}
.numberBtn {
  width: inherit;
}
.Button:hover {
  background: linear-gradient(to bottom, #b5b5b5 5%, #f0f0f0 100%);
  background-color: #b5b5b5;
}
.Button:active {
  box-shadow: 3px 3px 0px -2px #4f7544;
  background: linear-gradient(to bottom, #c0cfd6 5%, #6effec 100%);
  background-color: #c0cfd6;
  border-radius: 5px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 7px #2f6627;
}

button:active {
  position: relative;
  top: 1px;
}

#resultBox {
  margin: 0.5em 10px 10px 10px;
  height: 1.2em;
  padding: 0.2em;
  display: flex;
  border: 1px solid;
  font-size: 3em;
  grid-area: result;
  background-color: black;
  color: #f68804;
}

.historyBox {
  font-size: 2.5em;
  background-color: white;
  width: 50%;
}

#equals {
  grid-area: equals;
}

#reset {
  grid-area: reset;
}

#dot {
  grid-area: dot;
}

#plusMinus {
  grid-area: plusMinus;
}
#button1 {
  grid-area: one;
}

#button2 {
  grid-area: two;
}

#button3 {
  grid-area: three;
}

#button4 {
  grid-area: four;
}

#button5 {
  grid-area: five;
}

#button6 {
  grid-area: six;
}

#button7 {
  grid-area: seven;
}

#button8 {
  grid-area: eight;
}

#button9 {
  grid-area: nine;
}

#button0 {
  grid-area: btnZero;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#historyContainer {
  width: 20%;
  position: relative;
  left: 17%;
  display: grid;
  background-color: black;
  color: #f68804;
  margin: 0 20% 5% 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'clear clear'
    'calc result';
  border-radius: 5%;
}

#history {
  grid-area: calc;
  padding-top: 5px;
  padding-left: 10px;
  border-bottom: solid 1px black;
}

#historyCalc {
  grid-area: result;
  padding-top: 5px;
}

.historyBtn {
  display: flex;
  justify-content: space-around;
}
#deleteHist {
  background-color: #0ba5ad;
  position: relative;
  top: 30%;
  color: #f68804;
  /* font-family: LeagueGothic; */
  height: 50%;
  font-size: 1.3em;
  text-shadow: 1px 1px 0px #000000;
}
.hist {
  font-family: League + Gothic;
  grid-area: history;
  position: relative;
  top: 30%;
  font-size: 1.3em;
  height: 50%;
  background-color: #0ba5ad;
  color: #f68804;
  text-shadow: 1px 1px 0px #000000;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 40%;
    height: 30em;
    position: relative;
    left: 35%;
  }

  #historyContainer {
    width: 40%;
    height: auto;
    position: relative;
    left: 15%;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
  }

  #result,
  #buttonContainer {
    width: 20%;
  }
}
