body {
  background-color: #2f3945;
}
.container {
  margin: 5% 20% 0 20%;
  background-color: #c0c0c0;
  display: grid;
  border-radius: 5%;
  grid-template-rows: 0.5fr 4fr 1fr;
  grid-template-areas:
    'result'
    'buttons'
    'history';
}
.buttonContainer {
  grid-area: buttons;
  display: grid;
  margin: 2px;
  border-radius: 5%;
  height: auto;
  background-color: #c0c0c0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    'seven eight nine divide reset'
    'four five six multiply equals'
    'one two three minus equals'
    'btnZero plusMinus dot plus equals'
    'Hist Hist Hist Hist Hist';
  padding-bottom: 0px;
}

.button {
  box-shadow: 1px 1px 0 rgb(0 0 0 / 5%);
  background: linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
  border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
  border-radius: 5px;
  border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 3em;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  margin: 3px;
}
.Button:hover {
  background: linear-gradient(to bottom, #b5b5b5 5%, #f0f0f0 100%);
  background-color: #b5b5b5;
}
.Button:active {
  box-shadow: 3px 3px 0px -2px #4f7544;
  background: linear-gradient(to bottom, #c0cfd6 5%, #6effec 100%);
  background-color: #c0cfd6;
  border-radius: 5px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 7px #2f6627;
}

button:active {
  position: relative;
  top: 1px;
}

#resultBox {
  margin: 0.5em 10px 10px 10px;
  height: 1.2em;
  padding: 0.2em;
  display: flex;
  border: 1px solid;
  font-size: 3em;
  grid-area: result;
  background-color: white;
}

.historyBox {
  font-size: 2.5em;
}

#equals {
  grid-area: equals;
}

#reset {
  grid-area: reset;
}

#dot {
  grid-area: dot;
}

#plusMinus {
  grid-area: plusMinus;
}
#button1 {
  grid-area: one;
}

#button2 {
  grid-area: two;
}

#button3 {
  grid-area: three;
}

#button4 {
  grid-area: four;
}

#button5 {
  grid-area: five;
}

#button6 {
  grid-area: six;
}

#button7 {
  grid-area: seven;
}

#button8 {
  grid-area: eight;
}

#button9 {
  grid-area: nine;
}

#button0 {
  grid-area: btnZero;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#historyContainer {
  display: block;
  background-color: white;
  margin: 0 20% 5% 20%;
}

.historyBtn {
  display: flex;
  justify-content: center;
}
.hist {
  grid-area: history;
  font-size: 3em;
  border-radius: 5%;
  width: 50%;
  height: auto;
}

@media screen and (max-width: 2000px) {
  .container {
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: red;
  }

  .button {
    color: red;
  }
}

.historyUI {
  position: relative;
}

.historyToggle {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 100%;
  font-size: 1.5em;
}
